<header>
   <div class="header-menu">
      <a href="/">
      <div class="sidebar-btn" style="border: none;">
         <i class="far fa-school" style="margin-top: 6px;"></i>
      </div>
      <div class="title" style="margin-left: 40px;"></div>
      </a>
  
   </div>
</header>






{{#if index}}
<style>
   header {
      background: transparent;
   }
</style>
{{/if}}

<style>
   header .header-menu .sidebar-btn:hover {
      background: transparent;
      color: #fff;
   }
</style>